#benefit-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding: 24px;
}

#benefit-list .title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #171717;
  margin-bottom: 32px;
}

.benefit-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1024px;
  padding: 14px 20px;
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  margin-bottom: 16px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.benefit-list-item:hover {
  border: 1px solid #facc15;
  background-color: #fefce8;
  transform: translateY(-8px) scale(1.025);
  cursor: pointer;
}

.benefit-list-item .item-title {
  font-size: 20px;
  color: #171717;
  width: 100%;
}

.benefit-list-item .item-title .number {
  width: 24px;
  display: inline-block;
}

.benefit-list-item .item-description {
  font-size: 16px;
  color: #737373;
  width: 100%;
  line-height: 1.625;
}

@media (min-width: 768px) {
  #benefit-list {
    padding: 48px;
  }

  #benefit-list .title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .benefit-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1024px;
    padding: 18px 24px;
    border-radius: 12px;
    margin-bottom: 16px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .benefit-list-item:hover {
    border: 1px solid #facc15;
    background-color: #fefce8;
    transform: translateY(-8px) scale(1.025);
  }

  .benefit-list-item .item-title {
    font-size: 24px;
    width: 100%;
  }

  .benefit-list-item .item-title .number {
    width: 28px;
  }

  .benefit-list-item .item-description {
    font-size: 18px;
    line-height: 1.625;
  }
}
