#top-coins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 72px);
  padding: 0 24px;
  margin-top: 24px;
}

#top-coins .title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #171717;
}

#top-coins .description {
  font-size: 18px;
  color: #a3a3a3;
  margin-top: 16px;
  text-align: center;
  line-height: 1.75;
  margin-bottom: 64px;
}

.listed-coins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  padding: 0 24px;
  margin: 48px 0;
}

.listed-coins .title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #171717;
}

.listed-coins .description {
  font-size: 18px;
  color: #a3a3a3;
  margin-top: 16px;
  text-align: center;
  line-height: 1.75;
  margin-bottom: 64px;
}

.coin-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.coin-card {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

#top-coins .coin-card .title {
  font-size: 20px;
  margin-top: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table .theader {
  width: 100%;
}

.table .tbody {
  width: 100%;
}

.table .trow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.table .trow .th-cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 12px;
  font-weight: 600;
  border-bottom: 1px solid #a3a3a3;
  font-size: 14px;
}

.table .trow .td-cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 12px;
  font-size: 14px;
}

.listing-coin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.listing-logo {
  width: 32px;
  height: 32px;
}

.listing-symbol {
  font-weight: 500;
}

.listing-label {
  font-weight: 500;
  color: #a3a3a3;
  font-size: 12px;
}

.table .trow .th-cell:nth-child(1) {
  min-width: 120px;
}

.table .trow .th-cell:nth-last-child(-n + 2) {
  display: none;
}

.table .trow .td-cell:nth-child(1) {
  min-width: 120px;
}

.table .trow .td-cell:nth-last-child(-n + 2) {
  display: none;
}

.table .trow .th-cell:nth-last-child(-n + 1) {
  justify-content: flex-end;
}

.table .trow .td-cell:nth-last-child(-n + 1) {
  justify-content: flex-end;
}

@media (min-width: 768px) {
  #top-coins {
    padding: 0px 24px 48px 24px;
  }

  #top-coins .title {
    font-size: 56px;
  }

  #top-coins .description {
    font-size: 20px;
  }

  .listed-coins {
    padding: 0px 24px 48px 24px;
  }

  .listed-coins .title {
    font-size: 56px;
  }

  .listed-coins .description {
    font-size: 20px;
  }

  .coin-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
  }

  .coin-card {
    border-radius: 16px;
    padding: 30px 36px;
  }

  #top-coins .coin-card .title {
    font-size: 24px;
    margin-top: 24px;
  }

  .table {
    max-width: 720px;
  }

  .table .trow .th-cell:nth-last-child(-n + 2) {
    display: flex;
  }

  .table .trow .td-cell:nth-last-child(-n + 2) {
    display: flex;
  }

  .listing-coin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .listing-logo {
    width: 40px;
    height: 40px;
  }

  .listing-symbol {
    font-weight: 500;
  }

  .listing-label {
    font-weight: 500;
    color: #a3a3a3;
    font-size: 12px;
  }

  .table .trow .th-cell {
    font-size: 16px;
  }

  .table .trow .td-cell {
    font-size: 17px;
  }

  .table .trow .th-cell:nth-child(1) {
    min-width: 200px;
  }

  .table .trow .td-cell:nth-child(1) {
    min-width: 200px;
  }

  .listed-coins {
    margin: 0 0 48px 0;
  }
}

@media (min-width: 1024px) {
  .coin-card-container {
    max-width: 1024px;
  }

  .table {
    max-width: 1024px;
  }
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-red-600 {
  color: #dc2626;
}

.text-green-600 {
  color: #16a34a;
}
