@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background: rgba(25, 25, 25, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.header-inner-container {
  max-width: 1920px;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header-inner-container .logo {
  width: 54px;
  height: 54px;
  margin: auto;
}

.header-inner-container .nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  left: 0px;
  top: 72px;
  padding: 24px;
  background: rgba(25, 25, 25, 0.5);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header-inner-container .nav-links.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.header-inner-container .nav-links .link {
  display: block;
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.header-inner-container .nav-links .link:hover {
  color: #facc15;
}

.header-inner-container .nav-links .link.active {
  color: #facc15;
}

.menu-btn {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 10px;
}

.menu-btn span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-btn.open span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
}

.footer-inner-container {
  max-width: 1920px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid #737373;
}

.footer-logo-container {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo-container div {
  width: 360px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.footer-logo-container .title {
  font-size: 24px;
  color: #f5f5f5;
}

.footer-logo-container .description {
  font-size: 16px;
  color: #d4d4d4;
}

.footer-section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
}

.footer-section-container .footer-section-title {
  font-size: 20px;
  color: #f5f5f5;
}

.footer-section-container .footer-section-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-section-container .footer-section-items .link {
  font-size: 14px;
  color: #d4d4d4;
}

.footer-section-container .footer-section-items .link:hover {
  color: #facc15;
  cursor: pointer;
}

.footer-section-container .footer-section-items .item {
  font-size: 14px;
  color: #d4d4d4;
}

.footer-logo {
  width: 64px;
  height: 64px;
}

.copyright {
  padding-bottom: 16px;
  color: #f5f5f5;
  font-size: 16px;
}

@media (min-width: 768px) {
  .header-inner-container .nav-links {
    width: fit-content;
    padding: 0px;
    position: static;
    flex-direction: row;
    max-height: none;
    opacity: 1;
    transform: none;
    overflow: visible;
    background: transparent;
    border: none;
    gap: 16px;
  }

  .header-inner-container .nav-links .link {
    width: auto;
    padding: 4px 8px;
    border: none;
  }

  .menu-btn {
    display: none;
  }

  .footer-inner-container {
    max-width: 1920px;
    width: 100%;
    padding: 48px 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-logo-container .description {
    font-size: 18px;
    color: #d4d4d4;
  }

  .footer-logo-container .title {
    font-size: 32px;
    color: #f5f5f5;
  }

  .footer-section-container .footer-section-title {
    font-size: 24px;
    color: #f5f5f5;
  }

  .footer-section-container .footer-section-items .link {
    font-size: 16px;
    color: #d4d4d4;
  }

  .footer-section-container .footer-section-items .item {
    font-size: 16px;
    color: #d4d4d4;
  }

  .footer-logo {
    width: 80px;
    height: 80px;
  }

  .copyright {
    padding-bottom: 24px;
    font-size: 18px;
  }
}
