#faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 72px);
  padding: 0 24px;
  margin-top: 24px;
  background-color: white;
}

#guide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  padding: 48px 24px;
  margin: 48px 0;
  background-color: #171717;
  color: white;
}

#tips {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  padding: 0 24px;
  margin: 48px 0;
  background-color: white;
}

.section-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
}

.section-title a {
  text-decoration: none;
}

.section-title.light {
  color: #171717;
}

.section-title.light a {
  color: #171717;
}

.section-title.dark {
  color: #f5f5f5;
}

.section-title.dark a {
  color: #f5f5f5;
}

.section-title.light a:hover {
  text-decoration: underline;
  text-decoration-color: #171717;
}

.section-title.dark a:hover {
  text-decoration: underline;
  text-decoration-color: #f5f5f5;
}

.section-description {
  font-size: 18px;
  color: #a3a3a3;
  margin-top: 12px;
  line-height: 1.75;
  margin-bottom: 48px;
}

#faq-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq-item {
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  margin-bottom: 16px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.faq-question {
  color: #171717;
  background-color: #f5f5f5;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.faq-answer {
  font-size: 14px;
  color: #737373;
  line-height: 1.5;
}

.arrow {
  transform: rotate(-90deg);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.arrow svg {
  width: 12px;
  height: 12px;
}

.faq-item:hover {
  border: 1px solid #facc15;
}

.faq-item:hover .arrow {
  fill: #facc15;
}

.faq-item .faq-question:hover {
  background-color: #fefce8;
}

.faq-item.active {
  border: 1px solid #facc15;
}

.faq-item.active .faq-question {
  background-color: #fefce8;
}

.faq-item.active .arrow {
  transform: rotate(0deg);
  fill: #facc15;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.faq-item.active .faq-answer {
  padding: 16px;
  max-height: 200px;
}

#guide-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px 20px;
}

#guide-list .guide-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #a3a3a3;
  border-radius: 12px;
  padding: 16px 20px;
  color: white;
  width: 100%;
}

#guide-list .guide-card .title {
  font-size: 20px;
  color: #facc15;
  margin-bottom: 12px;
}

#guide-list .guide-card .description {
  font-size: 16px;
  color: #f5f5f5;
  line-height: 1.625;
}

#tips-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px 20px;
}

#tips-list .tips-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  padding: 16px 20px;
  color: #171717;
  width: 100%;
}

#tips-list .tips-card .title {
  font-size: 20px;
  color: #facc15;
  margin-bottom: 12px;
}

#tips-list .tips-card .description {
  font-size: 16px;
  color: #171717;
  line-height: 1.625;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 56px;
  }

  .section-description {
    font-size: 20px;
  }

  .section-inner-container {
    max-width: 720px;
    padding: 0px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 16px;
    line-height: 1.625;
  }

  .arrow svg {
    width: 14px;
    height: 14px;
  }

  .guide-list .guide-card {
    padding: 20px 24px;
  }

  #guide-list .guide-card .title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  #guide-list .guide-card .description {
    font-size: 18px;
  }
  #guide-list .guide-card {
    min-height: 256px;
  }

  .tips-list .tips-card {
    padding: 20px 24px;
  }

  #tips-list .tips-card .title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  #tips-list .tips-card .description {
    font-size: 18px;
  }

  #tips-list .tips-card {
    min-height: 256px;
  }
}

@media (min-width: 1024px) {
  .section-inner-container {
    max-width: 1024px;
    padding: 0px;
  }

  .faq-question {
    font-size: 20px;
    padding: 20px;
  }

  .faq-answer {
    font-size: 18px;
    line-height: 1.75;
  }

  #tips-list {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
